/* line 3, ../sass/form.scss */
* {
  box-sizing: border-box;
}

/* line 8, ../sass/form.scss */
body {
  font-family: Montserrat, sans-serif;
}

/* line 13, ../sass/form.scss */
fieldset {
  justify-content: center;
  display: flex;
  padding-top: 10px;
  margin-top: 10px;
}
/* line 19, ../sass/form.scss */
fieldset legend {
  margin: auto;
  padding: 3px 5px;
  background-color: black;
  border-radius: 2px;
  color: white;
  box-shadow: 2px 2px #00D84A;
}
/* line 29, ../sass/form.scss */
fieldset legend h2 {
  color: white;
}

/* line 39, ../sass/form.scss */
.row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 30px;
  margin-bottom: 20px;
  margin: auto;
}
/* line 47, ../sass/form.scss */
.row-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;
  margin-bottom: 20px;
  margin: auto;
}
/* line 56, ../sass/form.scss */
.row-3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 30px;
  margin-bottom: 20px;
  margin: auto;
}
/* line 65, ../sass/form.scss */
.row-4 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 30px;
  margin-bottom: 20px;
  margin: auto;
}
/* line 75, ../sass/form.scss */
.row-5 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 30px;
  margin-bottom: 20px;
  margin: auto;
}
/* line 84, ../sass/form.scss */
.row-6 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 30px;
  margin-bottom: 20px;
  margin: auto;
}
/* line 93, ../sass/form.scss */
.row-7 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 30px;
  margin-bottom: 20px;
  margin: auto;
}

/* line 105, ../sass/form.scss */
.radio-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
/* line 112, ../sass/form.scss */
.radio-button label {
  margin-left: 10px;
  margin-right: 5px;
}
/* line 117, ../sass/form.scss */
.radio-button input[type=radio] {
  width: 50px;
  height: auto;
}
/* line 123, ../sass/form.scss */
.radio-button input {
  border: none;
  border-bottom: 2px solid #ccc;
}

/* line 130, ../sass/form.scss */
.formAluno {
  margin-bottom: 20px;
}
/* line 131, ../sass/form.scss */
.formAluno label {
  font-size: 18px;
  font-weight: bold;
}
/* line 136, ../sass/form.scss */
.formAluno input {
  width: 100%;
  outline: none;
  padding: 5px;
  transition: border-bottom 500ms ease-in-out;
  margin-bottom: 2px;
}
/* line 143, ../sass/form.scss */
.formAluno input:hover, .formAluno input:focus {
  border-bottom: 2px solid #00D84A;
}
