/* line 5, ../sass/style.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 15, ../sass/style.scss */
.__nav {
  position: relative;
  width: 100vw;
  box-shadow: 0 2px #202023;
}
/* line 21, ../sass/style.scss */
.__nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 2rem;
  padding-right: 20%;
}
/* line 30, ../sass/style.scss */
.__nav__listlogo {
  list-style: none;
  margin-right: auto;
  cursor: pointer;
}
/* line 35, ../sass/style.scss */
.__nav__listlogo img {
  width: 6.5rem;
  height: 100%;
}
/* line 40, ../sass/style.scss */
.__nav__listlogo svg {
  width: 2.5rem;
  transition: fill 500ms ease-in;
}
/* line 44, ../sass/style.scss */
.__nav__listlogo svg:hover, .__nav__listlogo svg:focus {
  fill: greenyellow;
}
/* line 54, ../sass/style.scss */
.__nav__listitem {
  font-weight: bold;
  list-style: none;
  position: relative;
  padding: 1.5rem 1rem;
  cursor: pointer;
  color: black;
}
/* line 62, ../sass/style.scss */
.__nav__listitem:hover ul, .__nav__listitem:focus ul {
  opacity: 100;
  visibility: visible;
}
/* line 68, ../sass/style.scss */
.__nav__listitem a {
  color: black;
  text-decoration: none;
}
/* line 75, ../sass/style.scss */
.__nav__listitem::after {
  content: "";
  width: 0;
  height: 0.3rem;
  position: absolute;
  left: 1rem;
  bottom: 0.8rem;
  background-color: #202023;
  transition: 200ms ease-in;
  border-radius: 0.2rem;
}
/* line 87, ../sass/style.scss */
.__nav__listitem:hover::after, .__nav__listitem:focus::after {
  width: 80%;
}
/* line 92, ../sass/style.scss */
.__nav__listitemdrop {
  position: absolute;
  gap: 0.5rem;
  box-shadow: 0 0 10px #202023;
  padding: 1rem;
  border-radius: 0.2rem;
  top: 4rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  width: 12rem;
  background-color: white;
  opacity: 0;
  visibility: 0;
  transition: opacity 200ms ease-in-out;
}
/* line 108, ../sass/style.scss */
.__nav__listitemdrop li {
  list-style: none;
  padding: 0.5rem 1rem;
  transition: background-color 200ms ease-in-out;
  border-radius: 0.2rem;
}
/* line 114, ../sass/style.scss */
.__nav__listitemdrop li:hover {
  background-color: rgba(32, 32, 35, 0.2);
}
